minio-volume/
nessie-data/
minio-data/
shared-workspace/finalytics_spark/src/finalytics_spark/__pycache__/
shared-workspace/finalytics_spark/src/finalytics_spark/.ipynb_checkpoints/
shared-workspace/.ipynb_checkpoints/
shared-workspace/.Trash-0/